In [3]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

current_station = 0
destination_station = "Station 03"

while stations[current_station] != destination_station:
  print(f"current station is: {stations[current_station]}")
  print(f"my destination is: {destination_station}")
  print("Continue the journey I haven't reached the destination")
  current_station = current_station + 1
  print(f"Next station is: {stations[current_station]}")
  print("-----")

print(f"I have arrived at: {stations[current_station]}")

current station is: Station 01
my destination is: Station 03
Continue the journey I haven't reached the destination
Next station is: Station 02
-----
current station is: Station 02
my destination is: Station 03
Continue the journey I haven't reached the destination
Next station is: Station 03
-----
I have arrived at: Station 03

In [7]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(0,11):
    print(f"10 X {i} = {10*i}")

10 X 0 = 0
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [11]:
for i in range(1,11):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [14]:
Cost_of_items = [100, 200, 129, 456]

total_sum = 0

for i in range(0, len(Cost_of_items)):
  print(f"{total_sum} = {total_sum} + {Cost_of_items[i]}")
  total_sum = total_sum + Cost_of_items[i]

print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
100 = 100 + 200
300 = 300 + 129
429 = 429 + 456
Total amount to be paid: 885

In [16]:
for cost in Cost_of_items:
  print(cost)

100
200
129
456

In [22]:
cost_of_items = [100, 200, 129, 456, 1000, 199, 299]
#                 0    1    2    3

total_sum = 0
budget = 2000

for cost in cost_of_items:
    total_sum = total_sum + cost
    print(f"{total_sum} = {total_sum} + {Cost_of_items[i]}")
    if total_sum > budget:
        total_sum = total_sum - budget
        break

print(f'total amount to be paid: {total_sum}')

100 = 100 + 456
300 = 300 + 456
429 = 429 + 456
885 = 885 + 456
1885 = 1885 + 456
2084 = 2084 + 456
total amount to be paid: 84

In [26]:
for i in range(0,10):
    if(i>5):
        break
    print(i)

0
1
2
3
4
5

In [27]:
for i in range(0,10):
    if(i>=5):
        break
    print(i)

0
1
2
3
4

In [30]:
for i in range(0,10):
    print(i)
    if(i>=5):
        break

0
1
2
3
4
5

In [31]:
for i in range(0,10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [32]:
for i in range(0,10):
    if i % 2 != 0:
        continue
    print(i)

0
2
4
6
8